div.ctaThreeHome {
  background-color: $color-primary;
  padding: 30px;
  color: white;

  .ctaCol {
    padding: 20px;
    text-align: center;
  }
}

div.ctaTextLeftOrRight {
  .textCol {
    color: white;
    padding: 20px;
  }
}

img.fullWidthImg {
  width: 100%;
  overflow: hidden;
}
