div.main {
  min-height: 100vh;
  padding-bottom: 60px;
  font-family: "Raleway";
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.grayBg {
  background-color: $charcoal-grey;
}

.pinkGrayBg {
  background-color: $very-light-pink;
}

.semiBold {
  font-weight: 700;
}

.footer {
  bottom: 0;
  margin-top: -60px;
  height: 360px;
  clear: both;
  background-color: $color-primary;
  color: white;
  width: 100%;
  padding: 60px 75px;

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 60px 0;
  }
  .footer-menu {
    a {
      color: white;
      margin: 0 10px;
      font-family: "Raleway";
    }
  }
}
