.quoteContainer {
  text-align: center;
  height: 600px;
}
.quote-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  justify-content: center;
  width: 100%;

  .quote {
    width: 70%
  }

  p {
    font-size: 42px;
    color: $charcoal-grey;
    font-family: "TimesNewRomanPSMT";
  }

  p.white {
    color: white !important;
  }
}
